<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>how are you?</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>fine, thanks, and you?</div>
<div><input type="button" onclick="click_btm()" value="ok"></div>
</body>
<script type="text/javascript" src="/resources/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" >
    function click_btm() {
        $.get("/hello", function(data) {
            alert(data);
        })
    }
</script>
</html>